audioread==2.1.8
backports.ssl-match-hostname==3.7.0.1
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
Cython==0.29.13
dask==0.5.0
decorator==4.4.1
enum34==1.1.6
EQcorrscan==0.1.6
funcsigs==1.0.2
future==0.18.2
h5py==2.10.0
idna==2.8
joblib==0.14.0
LatLon==1.0.2
librosa==0.4.3
llvmlite==0.30.0
lxml==4.4.1
matplotlib==1.5.3
mock==3.0.5
multiprocessing==2.6.2.1
networkx==2.2
numba==0.46.0
numpy==1.11.2
obspy==1.0.2
-e git+https://github.com/gem/oq-hazardlib.git@589fa31ddca3697e6b167082136dc0174a77bc16#egg=openquake.hazardlib
pandas==0.19.0
Pillow==6.2.1
protobuf==3.0.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyparsing==2.4.2
pyproj==1.9.5.1
pytest==2.8.7
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
resampy==0.2.2
scikit-image==0.12.3
scikit-learn==0.18
scipy==0.18.1
seaborn==0.7.1
setproctitle==1.1.10
Shapely==1.6.4.post2
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.3.10
tensorflow==0.11.0rc1
terminado==0.6
toolz==0.10.0
tornado==4.0
tqdm==4.9.0
urllib3==1.25.6
